@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --font-family-heading: "EB Garamond", monospace;
  --font-family-body: "EB Garamond", sans-serif;
  --font-family-nav: "EB Garamond", monospace;
  --font-family-code: "Roboto Mono", monospace;
  --font-weight-h1: 400;
  --font-weight-h3: 500;
  --font-size-nav: 1rem;
  --font-size-code: 1rem;
  --color-h1: #330000;
  --color-h3: #333333;
  --color-nav: #333333;
  --color-quote: #4a4a4a;
  --base-font-size: 1.5em;
  --scale-ratio: 1.25;
}

body {
  font-family: var(--font-family-body), sans-serif;
  font-weight: 400;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  color: #330000;
  font-variant-ligatures: none;
  font-size: var(--base-font-size);
}

a.dropdown-item,
a.nav-link {
  font-family: var(--font-family-nav);
  color: var(--color-nav);
}

header nav ul a {
  font-family: var(--font-family-nav);
  color: var(--color-h1);
  font-size: var(--font-size-nav);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-h1);
  font-family: var(--font-family-heading);
  color: var(--color-h1);
}

h1 {
  font-size: calc(
    var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio) *
      var(--scale-ratio)
  );
}

h2 {
  font-size: calc(
    var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio)
  );
}

h3 {
  font-size: calc(var(--base-font-size) * var(--scale-ratio));
}

h4 {
  font-size: var(--base-font-size);
}

h5 {
  font-size: calc(var(--base-font-size) / var(--scale-ratio));
}

strong {
  font-weight: bold;
}

h1,
.meta {
  text-align: center;
}

.meta {
  color: lightslategray;
}

h2 {
  margin-bottom: 5%;
  text-align: center;
}

h3,
h4 {
  line-height: 140%;
  margin: 5% 0;
  font-weight: var(--font-weight-h3);
  color: var(--color-h3);
}

p,
li {
  line-height: 150%;
  margin-bottom: 3%;
  letter-spacing: 0.01em;
}

h2.title {
  text-align: center;
  color: #0066b9;
  font-size: 1.5rem;
}

header {
  padding-top: 3%;
}

.category_label {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.active.list-group-item a {
  color: white;
}

/*.resources .panel {*/
/*    background:  #EFF6FB;*/
/*    border: 1px solid #DBDBDB;*/
/*}*/

pre {
  border: 1px solid lightpink;
  padding: 2%;
  border-radius: 16px;
  background-color: lightgray;
}

pre code,
code {
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
}

.container {
  width: 100%;
  margin-top: 5%;
}

div.body {
  margin-top: 5%;
}

div.author {
  text-align: center;
}

div.footer {
  margin-top: 15%;
  color: lightslategray;
  text-align: center;
  font-size: 10pt;
}

p.other-from-topic {
  color: lightgray;
  font-weight: 500;
}

.blur {
  color: lightgray;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #595959;
}

pre.poem {
  text-align: center;
  border: transparent;
  font-size: inherit;
  font-family: "IBM Plex Mono", monospace;
  background-color: transparent;
}

.list-group-item {
  background-color: inherit !important;
}

/* #nav-bar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 7%;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;

} */

/* #home,
#nav-home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
} */

#home {
  height: 200px;
}

#nav-home {
  height: 20px;
}

.footer-home {
  margin-top: 15%;
  color: lightslategray;
  text-align: center;
  font-size: 10pt;
  bottom: 15px;
  left: 0;
  right: 0;
  position: fixed;
}

.bg-primary {
  background-color: #595959 !important;
}

@media print {
  nav * {
    display: none;
  }

  body {
    width: initial;
    margin: initial;
    padding: initial;
    font-size: 1em;
    line-height: 1.5;
    color: #000; /* Use black text for better readability */
  }
}

blockquote {
  color: var(--color-quote);
  margin-left: 5%;
  padding-left: 3%;
  border-left: medium solid var(--color-quote);
}
